<div class="sidepanel">
  <div class="sidepanel-content">
    <div class="parent-section">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="mb-0">Parents</h4>
        <button type="button" class="btn btn-success" routerLink="/main-page/homepage/newparent">+</button>
      </div>
      <div class="parent-list">
        <ul class="list-group">
          <li class="list-group-item">Rianne Castaenyeo</li>
          <li class="list-group-item">Mario Cheng</li>
          <li class="list-group-item">Arjay Sobido</li>
          <li class="list-group-item">Jhonnel Manaois</li>
          <li class="list-group-item">Dionecens Collano</li>
          <li class="list-group-item">Dionecens Collano</li>
          <li class="list-group-item">Dionecens Collano</li>
          <li class="list-group-item">Dionecens Collano</li>
          <!-- Add more items as needed -->
        </ul>
      </div>
    </div>
    <div class="inquiry-section">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="mb-0">Inquiries</h4>
        <!-- <button type="button" class="btn btn-success">+</button> -->
      </div>
      <div class="inquiry-list">
        <ul class="list-group">
          <li class="list-group-item">
            <div class="inquiry-item">
              <span class="inquiry-name">Mario</span>
              <span class="inquiry-message">Mas okay ng pabigat ka basta nandito ka</span>
            </div>
          </li>
          <li class="list-group-item">
            <div class="inquiry-item">
              <span class="inquiry-name">Rianne</span>
              <span class="inquiry-message">HAHAHAHAHA</span>
            </div>
          </li>
          <li class="list-group-item">
            <div class="inquiry-item">
              <span class="inquiry-name">Dionece</span>
              <span class="inquiry-message">nagawa ko na</span>
            </div>
          </li>
          <li class="list-group-item">
            <div class="inquiry-item">
              <span class="inquiry-name">Arjay</span>
              <span class="inquiry-message">basta makakita ng objective i fafarm nya haha</span>
            </div>
          </li>
          <li class="list-group-item">
            <div class="inquiry-item">
              <span class="inquiry-name">Jhonnel</span>
              <span class="inquiry-message">bahay ng kapatiran</span>
            </div>
          </li>
          

          <!-- Add more items as needed -->
        </ul>
      </div>
    </div>
  </div>
</div>
