.subject-item {
    display: flex; /* Use flexbox for alignment */
    justify-content: space-between; /* Space between name and icon */
    align-items: start;
    margin-left: -30px;
}

.subject-item .mat-form-field {
    flex: 1; /* Allow the input field to take up available space */
    margin-right: 5px; /* Space between input and button */
}

.subject-item button {
    min-width: 100px; /* Set a minimum width for the button */
}






