<div class="container h-100">
    <div class=" row h-100 messenger-container">
         <!-- Sidebar -->
         <div class="col-12 col-md-3 col-lg-2 p-0 sidebar container">
             <div class="container mb-2 d-flex justify-content-between align-items-center">
                 <p class="h4 mt-3 pe-3 ms-1">Chats</p>
                 <i  mat-button type="button"(click)="openDialog()" class="bi bi-pencil-square" style="font-size: 20px;"></i>
                 
             </div>
             <div class="container mb-3 mt-3">
                 <div class="input-group">
                     <input type="text" [(ngModel)]="keyword" class="form-control" placeholder="Search chats" aria-label="Search chats" style="border-radius: 20px;">
                 </div>
             </div>
             <input type="hidden"  >
             <!-- List of Users -->
              @for(msg of messages| searchFilter: keyword; track msg.message_id){
                  <div class="user-list-item" [routerLink]="['/main-page/message/messagepage/messages/view/' + msg.message_sender]" routerLinkActive="active-link">
                      <img src="/assets/mik.jpg" alt="User" class="rounded-circle me-1" width="40" height="40">
                      <div class="content">
                        <span>{{msg.sender_name}}</span>
                        <h6>{{msg.message}}</h6>
                    </div>
                  </div>
              }
         </div>
  
         <!-- Main Content -->
         <div class="col-12 col-md-9 col-lg-10 p-0 main-content">
             <!-- Chat Header -->
             <router-outlet></router-outlet>
         </div>
     </div>
  </div>