* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding: 2rem 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 ;
    height: auto;
    overflow-y: hidden;
    overflow-x: hidden;

}

.content-row {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.col {
    flex: 1;
}