<mat-dialog-content>
  <h2 class="border-bottom"><strong>Edit Class</strong></h2>
  <h3><strong>Grade: {{level}} {{strand.trim() === '-' ? ' ' :strand }} | {{section_name}}</strong></h3>
  <h3><strong>Subject: {{subject_name}}</strong></h3>
  <h3><strong>Room: {{room}}</strong></h3>
  <form [formGroup]="editclassForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col ">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Teacher</mat-label>
          <mat-select formControlName="admin_id" required>
            <mat-option value="">Select a Teacher</mat-option>
            <mat-option *ngFor="let teacher of teachers" [value]="teacher.admin_id">
              {{ teacher.lname }}, {{ teacher.fname }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        
      </div>

      <div class="col ">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Time</mat-label>
          <input matInput type="text" formControlName="time" required />
        </mat-form-field>
      </div>

      

      <div class="col ">
        <mat-form-field appearance="outline" class="custom-select">
          <mat-label>Select Days</mat-label>
          <mat-select multiple formControlName="selectedDays">
            <mat-option *ngFor="let day of availableDays" [value]="day">{{ day }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="row" style="display: none;">
        <div class="col me-2">
          <mat-form-field  appearance="outline" class="w-100">
            <mat-label>subject_id</mat-label>
            <input matInput type="text" formControlName="subject_id" required />
          </mat-form-field>
        </div>
        <div class="col me-2">
          <mat-form-field  appearance="outline" class="w-100">
            <mat-label>section_id</mat-label>
            <input matInput type="text" formControlName="section_id" required />
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="border-top">
  <button 
    class="ms-3"
    mat-button 
    (click)="onCancel()" 
    style="
        font-size: 14px; 
        padding: 8px 16px; 
        color: black; 
        background-color: white; 
        border: 0.1px solid #f32c52; 
        transition: background-color 0.3s ease, color 0.3s ease;"
    onmouseover="this.style.backgroundColor='#f32c52'; this.style.color='white';"
    onmouseout="this.style.backgroundColor='white'; this.style.color='black';">
    Cancel
    </button>

    <button 
    mat-button 
    (click)="onSubmit()" 
    style="
        font-size: 14px; 
        padding: 8px 16px; 
        color: black; 
        background-color: white; 
        border: 0.1px solid #3f51b5; 
        transition: background-color 0.3s ease, color 0.3s ease;"
    onmouseover="this.style.backgroundColor='#3f51b5'; this.style.color='white';"
    onmouseout="this.style.backgroundColor='white'; this.style.color='black';"
    [disabled]="editclassForm.invalid">
    Update
    </button>
</mat-dialog-actions>