<div class="container">
    <div class="banner">
      <div class="text-content">
        <div class="date">{{ currentDate | date: 'EEEE, MMMM d, y' }}</div>
        <h1 class="welcome-message">Welcome back, Principal!</h1>
        <p class="subtext">Always stay updated in your student portal</p>
      </div>
      <div class="illustration">
        <!-- Placeholder for the 3D illustration -->
        <img src="assets/sams.png " alt="Illustration">
      </div>
    </div>

    <!-- chart and card -->
     
    <div class="row mt-4">
      <div class="dash-col">
        <div class="header-container">
          <div class="clickable-header" (click)="setActive('dashboard')">
              <h3 id="dashboard" [class.active]="activeSection === 'dashboard'">Dashboard</h3>
          </div>
          <h3 class="ms-3">|</h3>
          <div class="clickable-header" (click)="setActive('students')">
              <h3 id="students" class="ms-3" [class.active]="activeSection === 'students'">Students</h3>
          </div>
          <!-- Conditional Form Field -->
          <div *ngIf="activeSection === 'students'" class="filter-container">
              <mat-form-field>
                  <mat-label>Filter by Grade level</mat-label>
                  <!-- <input matInput [(ngModel)]="keyword" placeholder="Search " /> -->
                  <input matInput placeholder="Search . . . " [(ngModel)]="searchTerm" />
                  
              </mat-form-field>
          </div>
      </div>
    
        <div class="dash-switch" *ngIf="activeSection === 'dashboard'">
            <div class="row concards">
                <div class="col">
                    <div class="card mb-4 bg-c-green order-card">
                        <div class="card-body">
                            <i class="bi bi-book card-icon"></i>
                            <h2 class="text-right"><span>{{ juniorHighTotal }}</span></h2>
                            <p class="m-b-0 text-right ms-1">Junior High</p>
                        </div>
                    </div>
                </div>
    
                <div class="col">
                    <div class="card mb-4 bg-c-yellow order-card">
                        <div class="card-body">
                            <i class="bi bi-mortarboard card-icon"></i>
                            <h2 class="text-right"><span>{{ seniorHighTotal }}</span></h2>
                            <p class="m-b-0 text-right ms-1">Senior High</p>
                        </div>
                    </div>
                </div>
    
                <div class="col">
                    <div class="card mb-4 bg-c-blue order-card">
                        <div class="card-body">
                            <i class="bi bi-people card-icon"></i>
                            <h2 class="text-right"><span>{{ totalEnrollments }}</span></h2>
                            <p class="m-b-0 text-right ms-1">Total Students</p>
                        </div>
                    </div>
                </div>
            </div>
    
            <canvas #myChart></canvas>
        </div>
    
        <div class="student-switch" *ngIf="activeSection === 'students'">
          <div class="table-container">
            <table class="table table-striped">
              <tr>
                <th>LRN</th>
                <th>Name</th>
                <th>Level</th>
                <th>Email</th>
                <th>Guardian Name</th>
              </tr>
              <tr *ngFor="let student of filteredStudents">
                <td>{{ student.LRN }}</td>
                <td>{{ student.lname }} {{ student.fname }} {{ student.mname }}</td>
                <td>{{ student.grade_level }} {{ student.strand }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.guardian_name }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
          <!-- messege -->              
          
          <div class="inq-col">
            <h3>Recent Inquiries</h3>
            <div class="card">
              <div class="card-body-notif">
                <div class="notification-list">
                  <!-- Notification 1 -->
                   @for (inq of inquiries; track $index) {
                  <div class="notification-item" [routerLink]="['/main-page/message/messagepage/messages/view/' + inq.message_sender]">
                    <div class="notification-header">
                      <div class="sender-name">{{ inq.sender_name }} <span style="font-size: 12px; font-weight: 400;" > <br> Grade {{ inq.label}}</span> </div>
                      <div class="notification-date">{{ inq.message_date | date: 'MMMM dd, yyyy' }}</div>
                    </div>
                    <div class="notification-message"> {{ inq.message }}</div>
                  </div>
                }
                </div>
              </div>
            </div>
          </div>
          
    </div>
  </div>
  
   