<div class="container">
    <div class="row">
      <div class="col-9">
            <div class="row">
                <div class="col-md-5 col-xl-4">
                    <div class="card bg-c-blue order-card">
                        <div class="card-block">
                            <!-- <h6 class="m-b-20">Total Enrollees</h6> -->
                            <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span>486</span></h2>
                            <p class="m-b-0">Total Enrollees<span class="f-right"></span></p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-5 col-xl-4">
                    <div class="card bg-c-green order-card">
                        <div class="card-block">
                            <!-- <h6 class="m-b-20">Total Teacher</h6> -->
                            <h2 class="text-right"><i class="fa fa-rocket f-left"></i><span>486</span></h2>
                            <p class="m-b-0">Total Parents<span class="f-right"></span></p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-5 col-xl-4">
                    <div class="card bg-c-yellow order-card">
                        <div class="card-block">
                            <!-- <h6 class="m-b-20">Total Parent</h6> -->
                            <h2 class="text-right"><i class="fa fa-refresh f-left"></i><span>486</span></h2>
                            <p class="m-b-0">Total Teachers<span class="f-right"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        <div class="row">
          <div style="width: 100%; max-width: 1000px;">
            <canvas #myChart></canvas>
          </div>
        </div>
      </div>
      <div class="col-3">
        <app-sidepanelparent></app-sidepanelparent>
      </div>
    </div>
  </div>
  