<div class="container">
    <div class="banner">
      <div class="text-content">
        <div class="date">{{ currentDate | date: 'EEEE, MMMM d, y' }}</div>
        <h1 class="welcome-message">Welcome back, Principal!</h1>
        <p class="subtext">Always stay updated in your student portal</p>
      </div>
      <div class="illustration">
        <!-- Placeholder for the 3D illustration -->
        <img src="assets/sams.png " alt="Illustration">
      </div>
    </div>

    <!-- chart and card -->
     
    <div class="row mt-4">
          <div class="dash-col">
            <h3>Dashboard</h3>
            <div class="row concards">
              <div class="col">
                <div class="card mb-4 bg-c-green order-card">
                  <div class="card-body">
                    <i class="bi bi-book card-icon"></i>
                    <h2 class="text-right"><span>{{ juniorHighTotal }} </span></h2>
                    <p class="m-b-0 text-right ms-1">Junior High</p>
                  </div>
                </div>
              </div>
            
              <div class="col">
                <div class="card mb-4 bg-c-yellow order-card">
                  <div class="card-body">
                    <i class="bi bi-mortarboard card-icon"></i>
                    <h2 class="text-right"><span>{{ seniorHighTotal }} </span></h2>
                    <p class="m-b-0 text-right ms-1">Senior High</p>
                  </div>
                </div>
              </div>
            
              <div class="col">
                <div class="card mb-4 bg-c-blue order-card">
                  <div class="card-body">
                    <i class="bi bi-people card-icon"></i>
                    <h2 class="text-right"><span>{{ totalEnrollments }} </span></h2>
                    <p class="m-b-0 text-right ms-1">Total Students</p>
                  </div>
                </div>
              </div>
            </div>
            
              <canvas #myChart></canvas>
          </div>
          <!-- messege -->              
          
          <div class="  inq-col">
            <h3>Recent Inquiries</h3>
            <div class="card">
              <div class="card-body-notif">
                <div class="notification-list">
                  <!-- Notification 1 -->
          
                  <!-- Notification 2 -->
                  <div class="notification-item">
                    <div class="notification-header">
                      <div class="sender-name">Jacob Moses</div>
                      <div class="notification-date">October 16, 2024</div>
                    </div>
                    <div class="notification-message">hello sir im looking for a sponsor can u help <menu></menu></div>
                  </div>
                  <div class="notification-item">
                    <div class="notification-header">
                      <div class="sender-name">Abraham Lincoln</div>
                      <div class="notification-date">October 16, 2024</div>
                    </div>
                    <div class="notification-message">hello sir we have a meeting later</div>
                  </div>
                  <div class="notification-item">
                    <div class="notification-header">
                      <div class="sender-name">Max Collins</div>
                      <div class="notification-date">October 16, 2024</div>
                    </div>
                    <div class="notification-message">Where are you sir?</div>
                  </div>
                  <div class="notification-item">
                    <div class="notification-header">
                      <div class="sender-name">Criselda Alvares</div>
                      <div class="notification-date">October 16, 2024</div>
                    </div>
                    <div class="notification-message">Any Announcements?</div>
                  </div>
                  <div class="notification-item">
                    <div class="notification-header">
                      <div class="sender-name">Daddy Digong</div>
                      <div class="notification-date">October 16, 2024</div>
                    </div>
                    <div class="notification-message">Congratulations!</div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          
    </div>
  </div>
  
   