<div class="form-container">
    <h2>Teacher Registration</h2>
    <form id="userForm">
        <div class="row">
            <div class="col-md-6 me-5">
                <div class="form-group">
                    <label for="firstName">First Name:</label>
                    <input type="text" id="firstName" name="firstName" class="form-control" required>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="middleInitial">Middle Initial:</label>
                    <input type="text" id="middleInitial" name="middleInitial" class="form-control" maxlength="1" required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" class="form-control" required>
        </div>
        <div class="row">
            <div class="col-md-6 me-5">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" class="form-control" required>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Role">Role:</label>
                    <input type="text" id="Role" name="Role" class="form-control" required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="address">Address:</label>
            <textarea id="address" name="address" class="form-control" rows="1" required></textarea>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
