<div class="form-container">
    <h2>Teacher Registration</h2>

    <form [formGroup]="teacherform" (ngSubmit)="submitteacher()" id="teacher">
        <div class="row">
            <div class="col-md-6 me-5">
                <div class="form-group">
                    <label for="firstName">First Name:</label>
                    <input type="text" id="firstName" formControlName="fname" name="firstname" class="form-control" 
                    required oninput="this.value = this.value.replace(/[^a-zA-ZñÑ\s\'.]/g, '');">
                    @if (teacherform.get('fname')?.invalid && teacherform.get('fname')?.touched) {
                        <mat-error class="text-danger">First name is required.</mat-error>
                    }
                </div>
            </div>  
            <div class="col-md">
                <div class="form-group">
                    <label for="middleInitial">Middle Name:</label>
                    <input type="text" id="middleInitial" formControlName="mname" name="middlename" class="form-control"
                    required oninput="this.value = this.value.replace(/[^a-zA-ZñÑ\s\'.]/g, '');">
                    
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" formControlName="lname" class="form-control"
            required oninput="this.value = this.value.replace(/[^a-zA-ZñÑ\s\'.]/g, '');">
            @if (teacherform.get('lname')?.invalid && teacherform.get('lname')?.touched) {
                <mat-error class="text-danger">Last name is required.</mat-error>
            }
        </div>
        <div class="row">
            <div class="col-md-6 me-5">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" formControlName="email" name="email" class="form-control" required>
                    @if (teacherform.get('email')?.invalid && teacherform.get('email')?.touched) {
                        <mat-error class="text-danger">Email is required.</mat-error>
                    }
                </div>
            </div>
            <div class="col-md" >
                <div class="form-group">
                    <label for="address">Address:</label>
                    <textarea id="address" name="address" class="form-control" formControlName="address" rows="1" required></textarea>
                    @if (teacherform.get('address')?.invalid && teacherform.get('address')?.touched) {
                        <mat-error class="text-danger">Address is required.</mat-error>
                    }
                </div>
                <div class="form-group" style="display:none;">
                    <label for="role">Role:</label>
                    <input type="text" id="Role" formControlName="role" name="Role" class="form-control" required>
                    @if (teacherform.get('role')?.invalid && teacherform.get('role')?.touched) {
                        <mat-error class="text-danger">Role is required.</mat-error>
                    }
                </div>
            </div>
        </div>
       
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" formControlName="password" id="password" name="password" class="form-control" required>
            @if (teacherform.get('password')?.invalid && teacherform.get('password')?.touched) {
                <mat-error class="text-danger">Password is required.</mat-error>
            }
        </div>
        <!-- <button type="submit" class="btn btn-primary">Register</button> -->
        <button type="submit" class="btn btn-primary"
        [disabled]="isLoading">
        <span *ngIf="!isLoading">Register</span>
        <span *ngIf="isLoading">Processing...</span>
        </button>
    </form>
</div>
