<mat-dialog-content class="dialog-content">
  <p class="dialog-title">Add New Subject</p>
  <mat-form-field class="subject-input">
      <mat-label>Subject</mat-label>
      <input matInput [(ngModel)]="subjectName">
  </mat-form-field>
  
  <div class="file-upload">
      <input type="file" #fileInput (change)="onFileChange($event)" [disabled]="imagePreviewUrl !== null"/>
  </div>

  <p class="selected-image-title">Selected Image</p>
  <div *ngIf="imagePreviewUrl" class="image-preview">
      <img [src]="imagePreviewUrl" alt="Image Preview" class="preview-image" />
      <button mat-icon-button (click)="removeImage()" class="remove-image-button bg-danger">
          <mat-icon>clear</mat-icon>
      </button>
  </div>

  <mat-dialog-actions class="dialog-actions border-top mt-3">
      <button mat-button (click)="onNoClick()" class="cancel-button">Cancel</button>
      <button mat-button (click)="addsubjects()" class="ok-button">Ok</button>
  </mat-dialog-actions>
</mat-dialog-content>