<mat-dialog-content>
    <h2><strong>Edit Section: Grade {{grade_level}}  {{ (strand && strand.trim() === '-') ? ' ' : strand }} </strong></h2>

    <form [formGroup]="editSectionForm" (ngSubmit)="onSubmit()">
        <mat-form-field style="display: none;" appearance="outline" class="w-100">
            <mat-label>Grade Level</mat-label>
            <input matInput formControlName="grade_level" placeholder="Enter Grade Level">
        </mat-form-field>

        <mat-form-field style="display: none;" appearance="outline" class="w-100 mt-3">
            <mat-label>Strand</mat-label>
            <input matInput formControlName="strand" placeholder="Enter Strand" required>
        </mat-form-field>

        <div formArrayName="section_names">
            <div *ngFor="let section of sectionNamesArray.controls; let i = index" [formGroupName]="i" class="section-item d-flex align-items-center">
                <mat-form-field appearance="outline" class="section-input flex-grow-1">
                    <input matInput formControlName="name" placeholder="Enter Section Name" required>
                </mat-form-field>
                <button mat-icon-button color="warn" type="button" (click)="removeSection(i)" class="remove-button ms-2 mb-4">
                    <i class="bi bi-trash3-fill"></i>
                </button>
            </div>
        </div>
        <button mat-raised-button  type="button" class="mb-3  text-success" (click)="addSection()">Add Section</button> <!-- Add button -->

        <div *ngIf="editSectionForm.invalid && (editSectionForm.dirty || editSectionForm.touched)">
            <p style="color:red;">Please fill out all required fields.</p>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions class="border-top">
    <button mat-button class="ms-3" style="color: white; background-color: #F32C52;" (click)="onCancel()">Close</button>
    <button mat-raised-button color="primary" [disabled]="editSectionForm.invalid" (click)="onSubmit()">Update</button>
</mat-dialog-actions>