<mat-dialog-content>
    <h2>Edit Section: Grade {{grade_level}}</h2>

    <form [formGroup]="editSectionForm" (ngSubmit)="onSubmit()">
        <mat-form-field style="display: none;" appearance="outline" class="w-100">
            <mat-label>Grade Level</mat-label>
            <input matInput formControlName="grade_level" placeholder="Enter Grade Level">
        </mat-form-field>

        <mat-form-field style="display: none;" appearance="outline" class="w-100 mt-3">
            <mat-label>Strand</mat-label>
            <input matInput formControlName="strand" placeholder="Enter Strand" required>
        </mat-form-field>

        <div formArrayName="section_names">
            <div *ngFor="let section of sectionNamesArray.controls; let i = index" [formGroupName]="i" class="section-item">
                <mat-form-field appearance="outline" class="flex-grow-1 mt-3">
                    <mat-label>Section Name</mat-label>
                    <input matInput formControlName="name" placeholder="Enter Section Name" required>
                </mat-form-field>
                <!-- <button mat-button color="warn" type="button" (click)="removeSection(i)">
                    <i class="bi bi-trash3-fill"></i>
                </button>  -->
            </div>
        </div>
        <button mat-raised-button color="accent" type="button" class="mb-3" (click)="addSection()">Add Section</button> <!-- Add button -->

        <div *ngIf="editSectionForm.invalid && (editSectionForm.dirty || editSectionForm.touched)">
            <p style="color:red;">Please fill out all required fields.</p>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions class="border-top">
    <button mat-button class="ms-3" style="color: white; background-color: #F32C52;" (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="editSectionForm.invalid" (click)="onSubmit()">Save</button>
</mat-dialog-actions>