<div class="container">
  <div class="table-container">
    <div class="row align-items-center">
      <div class="col d-flex align-items-center">
        <h2>Class List 
          <button type="button" class="btn btn-success ms-2" routerLink="/main-page/classmanagement/addclass">+</button>
        </h2>
      </div>
      <div class="col d-flex justify-content-end">
        <mat-form-field>
          <mat-label>Class</mat-label>
          <mat-select>
            @for (class of classss; track class) {
              <mat-option [value]="class">{{class}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!-- Displaying submitted data -->
    <table id="classTable" class="table table-striped">
      <thead>
        <tr>
          
          <th>Grade</th>
          <th>Subject</th>
          <th>Teacher</th>
          <th>Schedule</th>
          <th>Room</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let form of classes; let i = index">
          <td>{{ form.level }} {{ form.strand.trim() === '-' ? ' ' : form.strand}} | {{ form.section_name }}</td>
          <td>{{ form.subject_name }}</td> <!-- Subject name -->
          <td>{{ form.fname }} {{ form.lname }}</td> <!-- Teacher's name -->
          <td>{{ form.time }} | {{ form.schedule }}</td> 
          <td>{{ form.room }}</td>
          <td>
            <i class="bi bi-pencil-fill m-2" type='button' 
                           (click)="openEditSubjectModal(form)"></i> 
            <i class="bi bi-trash3-fill ms-3" title="Delete" (click)="deleteClass(form.class_id)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>