<div class="container">
    <div class="table-container">
        <div class="row align-items-center">
            <div class="col d-flex align-items-center">
              <h2>Class List <button type="button" class="btn btn-success ms-2" routerLink="/main-page/classmanagement/addclass">+</button>
              </h2>
            </div>
            <div class="col d-flex justify-content-end">
              <mat-form-field>
                <mat-label>Class</mat-label>
                <mat-select>
                  <mat-option>None</mat-option>
                  @for (state of states; track state) {
                    <mat-option [value]="state">{{state}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          
        

        <table id="classTable">
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Teacher</th>
                    <th>Section</th>
                    <th>Day</th>
                    <th>Time</th>
                    <th>Room</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mathematics</td>
                    <td>Sobido, Arjay</td>
                    <td>A</td>
                    <td>Monday,Tuesday</td>
                    <td>9:00 AM - 11:30 AM</td>
                    <td>101</td>
                    <td>
                        <i class="bi bi-pencil-fill" title="Edit"></i>
                        <i class="bi bi-trash3-fill ms-3" title="Delete"></i>
                    </td>
                </tr>
                <tr>
                  <td>Sciende</td>
                  <td>Cataño, Rianne</td>
                  <td>B</td>
                  <td>Monday,Wednesday</td>
                  <td>7:00 AM - 8:30 AM</td>
                  <td>102</td>
                  <td>
                      <i class="bi bi-pencil-fill" title="Edit"></i>
                      <i class="bi bi-trash3-fill ms-3" title="Delete"></i>
                  </td>
              </tr>
              <tr>
                <td>Bible</td>
                <td>Ofiaza, Miko</td>
                <td>A</td>
                <td>Tuesday,Wednesday</td>
                <td>9:00 AM - 10:30 AM</td>
                <td>103</td>
                <td>
                    <i class="bi bi-pencil-fill" title="Edit"></i>
                    <i class="bi bi-trash3-fill ms-3" title="Delete"></i>
                </td>
            </tr>
            <tr>
              <td>English</td>
              <td>Collano, Dionece</td>
              <td>B</td>
              <td>Tuesday,Thursday</td>
              <td>1:00 PM - 3:30 PM</td>
              <td>104</td>
              <td>
                  <i class="bi bi-pencil-fill" title="Edit"></i>
                  <i class="bi bi-trash3-fill ms-3" title="Delete"></i>
              </td>
          </tr>
          <tr>
            <td>History</td>
            <td>Manaois, Jhonnel</td>
            <td>A</td>
            <td>Monday,Firaday</td>
            <td>8:00 AM - 11:30 AM</td>
            <td>101</td>
            <td>
                <i class="bi bi-pencil-fill" title="Edit"></i>
                <i class="bi bi-trash3-fill ms-3" title="Delete"></i>
            </td>
        </tr>
        <tr>
          <td>Filipino</td>
          <td>Lozada, Glenson</td>
          <td>A</td>
          <td>Tuesday,Thursday</td>
          <td>9:00 AM - 11:30 AM</td>
          <td>103</td>
          <td>
              <i class="bi bi-pencil-fill" title="Edit"></i>
              <i class="bi bi-trash3-fill ms-3" title="Delete"></i>
          </td>
      </tr>
      <tr>
        <td>Health</td>
        <td>Castaño, Rianne</td>
        <td>A</td>
        <td>Thursday</td>
        <td>9:00 AM - 11:30 AM</td>
        <td>102</td>
        <td>
            <i class="bi bi-pencil-fill" title="Edit"></i>
            <i class="bi bi-trash3-fill ms-3" title="Delete"></i>
        </td>
    </tr>
            </tbody>
        </table>
    </div>
</div>
