<div class="container">
    <div class="table-container">

        <div class="row align-items-center">
            <div class="col d-flex align-items-center">
                <h2>Subject List <button type="button" class="btn btn-success" routerLink="/main-page/subjectmanagement/addsubject">+</button></h2>            
            </div>
            <div class="col d-flex justify-content-end">
              <mat-form-field>
                <mat-label>Subjects</mat-label>
                <mat-select>
                  @for (state of states; track state) {
                    <mat-option [value]="state">{{state}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          
        <table id="subjectTable">
            <thead>
                <tr>
                    <th>Subject Name</th>
                    <th>Grade Level</th>
                    <th>Strand</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @for (sub of subjects; track sub) {
                <tr>
                    <td>{{sub.subjectname}}</td>
                    <td>{{sub.gradelevel}}</td>
                    <td>{{sub.strand}}</td> 
                    <td>
                        <i class="bi bi-pencil-fill" title="Edit"></i>
                        <i class="bi bi-trash3-fill ms-3" title="Delete"></i>
                    </td>
                </tr>
                }
                <!-- <tr>
                  <td>Math</td>
                  <td>11</td>
                  <td>STEM</td>
                  <td>
                    <i class="bi bi-pencil-fill" title="Edit"></i>
                    <i class="bi bi-trash3-fill ms-3" title="Delete"></i>
                  </td>
                </tr>
                <tr>
                  <td>Math</td>
                  <td>12</td>
                  <td>HUMMS</td>
                  <td>
                    <i class="bi bi-pencil-fill" title="Edit"></i>
                    <i class="bi bi-trash3-fill ms-3" title="Delete"></i>
                  </td>
                </tr>
                <tr>
                  <td>Math</td>
                  <td>11</td>
                  <td>ABM</td>
                  <td>
                    <i class="bi bi-pencil-fill" title="Edit"></i>
                    <i class="bi bi-trash3-fill ms-3" title="Delete"></i>
                  </td>
                </tr>
                <tr>
                  <td>Filipino</td>
                  <td>8</td>
                  <td>-</td>
                  <td>
                    <i class="bi bi-pencil-fill" title="Edit"></i>
                    <i class="bi bi-trash3-fill ms-3" title="Delete"></i>
                  </td>
                </tr> -->
                
            </tbody>
        </table>
    </div>
</div>
