<div class="form-container">
  <h2>Section Management</h2>

  <form [formGroup]="sectionform" (ngSubmit)="submitsection()" id="teacher">
      <div class="row">
          <div class="form-group">
              <label for="grade_level">Grade Level:</label>
              <select id="grade_level" formControlName="grade_level" required (change)="onGradeChange()">
                <option value="">Select a Grade Level</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
              <!-- <input type="text" id="grade_level" formControlName="grade_level" name="grade_level" class="form-control" required> -->
          </div>

          <div class="form-group" *ngIf="isStrandVisible">
            <label for="strand">Strand:</label>
            <select id="strand" formControlName="strand">
                <option value="">Select a strand</option>
                <option value="STEM">STEM</option>
                <option value="HUMMS">HUMMS</option>
                <option value="ABM">ABM</option>
            </select>
        </div>

          <div class="form-group">
              <label for="sectionList">Section List:
                  <button type="button" class="btn btn-success" (click)="openDialog()">+</button>
              </label>
              <!-- Display added sections -->
              <ul style="display: flex; flex-wrap: wrap; gap: 16px; list-style-type: none; padding: 0;">
                <li class="section-list" *ngFor="let section of sectionList; let i = index" 
                    style="flex: 0 0 calc(33.33% - 16px); /* Make each item take 1/3 of the width */
                           display: flex; 
                           align-items: center; 
                           position: relative; 
                           border: 1px solid #ccc; 
                           border-radius: 4px; 
                           background-color: #f0f8ff; 
                           padding: 12px; 
                           margin-bottom: 10px; 
                           height: 60px;">
                    
                    <span style="flex-grow: 1; 
                                 font-size: 16px; 
                                 font-weight: 500;">
                        {{ section.name }}
                    </span>
                    <i *ngIf="sectionList.length > 0"
                        (click)="removeSection(i)"
                        style="color: red; font-size: 15px;" 
                        class="btn bi bi-trash me-2"></i>
                </li>
            </ul>
            
          </div>
      </div>
      <button type="submit" class="button-submit mt-2">Register</button>
  </form>
</div>