<div class="form-container">
  <h2>Section Registration</h2>

  <form [formGroup]="sectionform" (ngSubmit)="submitsection()" id="teacher">
      <div class="row">
          <div class="form-group">
              <label for="grade_level">Grade Level:</label>
              <select id="grade_level" formControlName="grade_level" required (change)="onGradeChange()">
                <option value="">Select a Grade Level</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
              <!-- <input type="text" id="grade_level" formControlName="grade_level" name="grade_level" class="form-control" required> -->
          </div>

          <div class="form-group" *ngIf="isStrandVisible">
            <label for="strand">Strand:</label>
            <select id="strand" formControlName="strand">
                <option value="">Select a strand</option>
                <option value="STEM">STEM</option>
                <option value="HUMMS">HUMMS</option>
                <option value="ABM">ABM</option>
            </select>
        </div>

          <div class="form-group">
              <label for="sectionList">Section List:
                  <button type="button" class="btn btn-success" (click)="openDialog()">+</button>
              </label>
              <!-- Display added sections -->
              <ul>
                  <li class="section-list" *ngFor="let section of sectionList; let i = index" style="display: flex; align-items: center; position: relative;">
                      <i *ngIf="sectionList.length > 1"
                         (click)="removeSection(i)"
                         style="color: red; font-size: 15px;"
                         class="bi bi-trash me-2"></i>
                      <span style="flex-grow: 1;">{{ section.name }}</span> <!-- Displaying section name -->
                  </li>
              </ul>
          </div>
      </div>
      <button type="submit" class="btn btn-primary btn-custom mt-2">Register</button>
  </form>
</div>