/* Updated form-container styles */
.form-container {
    background-color: #fff;
    padding: 2rem;
    margin: 2rem auto;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: #003366;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #555;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    color: #333;
    background-color: #fff;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #3ABEF9;
    box-shadow: 0 0 0 2px rgba(58, 190, 249, 0.2);
    outline: none;
}

button {
    background-color: #0056b3;
    color: #fff;
    border: none;
    padding: 0.1rem 0.5rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #003d79;
}
.button-submit {
    background-color: #0056b3;
    color: #fff;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Section list styles */
.section-list {
    flex: 0 0 calc(33.33% - 16px);
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f8ff;
    padding: 12px;
    margin-bottom: 10px;
    height: 60px;
}

.section-list span {
    flex-grow: 1;
    font-size: 16px;
    font-weight: 500;
}

/* Responsive design */
@media (max-width: 768px) {
    .form-container {
        max-width: 90%;
        height: auto;
        padding: 1.5rem;
    }

    .form-container h2 {
        font-size: 1.5rem;
    }

    .form-group {
        margin-bottom: 0.8rem;
    }

    .form-group input,
    .form-group textarea {
        padding: 0.6rem;
    }

    button {
        padding: 0.6rem 1.2rem;
    }
}

@media (max-width: 576px) {
    .form-container {
        max-width: 95%;
        padding: 1rem;
    }

    .form-container h2 {
        font-size: 1.2rem;
    }

    .form-group {
        margin-bottom: 0.6rem;
    }

    .form-group input,
    .form-group textarea {
        padding: 0.4rem;
    }

    button {
        padding: 0.4rem 1rem;
    }
}
